<nav class="navbar navbar-default navb navbar-fixed-top  style=' background-color: #2980b9;'">
    <div class="container">
        @Html.ActionLink("ToDo", "Index", "Todoitems", null, new {@class = "navbar-brand"})
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>