# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ToDoList.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\UTM\anul 2\sem2\TW\AspToDo\ToDoList\.idea\.idea.ToDoList\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
